[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
fastapi = "*"
langchain-google-genai = "*"
python-dotenv = "*"
uvicorn = "*"
scikit-learn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
